/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* force scrollbar to prevent centering jumps */
html {
       overflow-y: scroll;
}

#face-img {
	-webkit-box-shadow: 8px 8px 16px -3px rgba(0,0,0,0.45);
	-moz-box-shadow: 8px 8px 16px -3px rgba(0,0,0,0.45);
	box-shadow: 8px 8px 16px -3px rgba(0,0,0,0.45);
}

.preview {
	/*float:left;*/
	margin-top: 3.5em;
}

.preview-img {
	/*float:left;*/
	padding-bottom: .5em;
}

.project {
	position:relative;
	min-width:200px;
	min-height:340px;
}

.matchingHeight {
	position:relative;
	min-height: 340px;
}

.bottomRight {
	position: absolute;
	right: 1em;
	bottom: 1.5em;
}